{% extends "base.html" %}
{% block content %}

  <div class="container">
        <h4 class="title"><center>{{ obj.title }}</center></h4>
        
          {% if obj.obj_type == "artist" %}
              <center><img class="img" src="{{ obj.img }}"></center>
          {% else %}
              <center><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ obj.img }}" frameborder="0" allowfullscreen></iframe></center>
          
          {% endif %}
          
          <form action="" method="post" name="evaluate">
          <p>
          <h6> {{ questions.first }} </h6>
          </p>
              <table>
              <tbody>
              <tr>
                {% for subfield in form.prev_knowledge %}
                    <td>
                        {{ subfield }}
                        {{ subfield.label }}
                    </td>
                {% endfor %}
              </tr>
              </table>
              </tbody>            

      </section>

        <fieldset>
          <p></p>
          <h6> {{ questions.second }} </h6>
              

       <table>
       <tbody>
       <tr>
          {% for tag in obj.tags[:7] %}
            <td>
              <input type="checkbox" id="id_{{ tag.string }}" name="{{ tag.string }}"> {{ tag.string }} </input>
            </td>
          {% endfor %}

       </tr>
          
       <tr>
          
          {% for tag in obj.tags[7:] %}
            <td>
              <input type="checkbox" id="id_{{ tag.string }}" name="{{ tag.string }}"> {{ tag.string }} </input>
            </td>
          {% endfor %}

       </tr>
       </table>
       </tbody>
            
          <p></p>
          
           <h6> (Opcional) Inclua até 5 tags (palavras-chave separadas por ";") que você considera relevantes e que não foram citadas acima:</h6>
            <p>
              Tags adicionais: {{ form.addtags(size=30) }}
            </p>
          
          {{ form.submit }}
          
          {{ form.skip}}
          
          


        </fieldset>
      </form>
  </div>

{%endblock%}
