{% extends "base.html" %}
{% block content %}
<main class="wrapper">
    <header id="home" class="header">
      <section class="container">
        <h4 class="title"><center>{{ obj.title }}</center></h4>
          <center><img class="img" src="{{url_for('static', filename='img/mumford.jpg')}}"></center>
          <p class="description">{{ obj.description }}</p>
      </section>
    </header>
  <div class="container">
      <form>
        <fieldset>
          <p></p>
          <h6>Quais dessas palavras caracterizam a banda / artista acima? (Marque qualquer quantidade de palavras)</h6d>
          <div class="row">
          {% for tag in tags %}
            <div class="column">
              <input id="confirmField" type="checkbox">
              <label class="label-inline" for="confirmField">{{ tag }}</label>
            </div>
          {% endfor %}
          </div>

          <p></p>
          <input class="button-primary" value="Pular" type="submit">
          <input class="button float-right" value="Enviar" type="submit">
        </fieldset>
      </form>
  </div>
</main>
{%endblock%}