{% extends "base.html" %}
{% block content %}

 <div class="container">
        Preencha os campos abaixo e clique em Iniciar:
        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <p>
              Nome: {{ form.name(size=30) }}
            </p>
            
            <p>
              Idade: {{ form.age }}  
            </p>
            
            <p>
              Sexo:
            </p>
                
            <table>
            <tbody> 
              <tr>
                {% for subfield in form.gender %}
                    <td>{{ subfield.label }}</td>
                    <td>{{ subfield }}</td>
                {% endfor %}
            </tr>
            </table>
            </tbody>             
            <p>
              <input class="button-primary" value="Iniciar" type="submit">
            </p>
        </form>
</div>

{%endblock%}
